{% extends "base.html.twig" %}

{% block body %}

    <main class="container">
        <h1>Liste des contacts</h1>


        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Date de naissance</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.firstname }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.dateOfBirth | date('d/m/Y') }}</td>
                    <td>{{ contact.team.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}